<nav>

  <div>
    État de connexion: {{ isConnected }}
  </div>

  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/home">Home (avec /home)</a></li>
    <li>
      <a routerLink="/demonstrations">Démonstration</a>
      <ul>
        <li><a routerLink="/demonstrations/demo01">Démo 01 - Interpolation</a></li>
        <li><a routerLink="/demonstrations/demo02">Démo 02 - Attribute Binding</a></li>
        <li><a routerLink="/demonstrations/demo03">Démo 03 - Event Binding</a></li>
        <li><a routerLink="/demonstrations/demo04">Démo 04 - Two-Way Binding</a></li>
        <li><a routerLink="/demonstrations/demo05">Démo 05 - Routing</a></li>
        <li><a routerLink="/demonstrations/demo06">Démo 06 - Les pipes</a></li>
        <li><a routerLink="/demonstrations/demo07">Démo 07 - Les custom pipes</a></li>
        <li><a routerLink="/demonstrations/demo08">Démo 08 - Les directives de composant</a></li>
        <li><a routerLink="/demonstrations/demo09">Démo 09 - Les directives structurelles</a></li>
        <li><a routerLink="/demonstrations/demo10">Démo 10 - Les directives personnalisées</a></li>
        <li><a routerLink="/demonstrations/demo11">Démo 11 - Communication composants</a></li>
        <li><a routerLink="/demonstrations/demo12">Démo 12 - Services et DI</a></li>
        <li><a routerLink="/demonstrations/demo13">Démo 13 - Reactive Forms</a></li>
        <li><a routerLink="/demonstrations/demo14">Démo 14 - Routing avancé</a></li>
        <li><a routerLink="/demonstrations/demo15">Démo 15 - Guards</a></li>
        <li><a routerLink="/demonstrations/demo16">Démo 16 - Resolvers</a></li>
        <li><a routerLink="/demonstrations/demo17">Démo 17 - Observables</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/exercices">Exercices</a>
      <ul>
        <li><a routerLink="/exercices/exo01">Exo 01 - Créer son profil</a></li>
        <li><a routerLink="/exercices/exo02">Exo 02 - Créer son profil dynamique</a></li>
        <li><a routerLink="/exercices/exo03">Exo 03 - Le chronomètre basique</a></li>
        <li><a routerLink="/exercices/exo05">Exo 05 - Le chronomètre formaté</a></li>
        <li><a routerLink="/exercices/exo06">Exo 06 - Le convertisseur de degré</a></li>
        <li><a routerLink="/exercices/exo07">Exo 07 - Gestion des produits</a></li>
        <li><a routerLink="/exercices/exo08">Exo 08 - Gestion des produits (services)</a></li>
        <li><a routerLink="/exercices/exo09">Exo 09 - Vérification d'âge (Validator)</a></li>
      </ul>
    </li>
  </ul>
</nav>