<h3>Démonstration 09 - Les directives structurelles</h3>

<h4>Directive *ngIf</h4>

<h5>Ancienne version (⚠️ retiré en Angular V22)</h5>

<button (click)="toggleShowed()">Montrer / Cacher</button>

<p *ngIf="isShowed; else elseblock">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro animi dolore quibusdam? Ad id ipsa sed iure cum dolore
  dolorem veritatis, amet, voluptas eos possimus tempora praesentium illo mollitia a?
</p>

<ng-template #elseblock>
  <p>Dans le cas du else</p>
</ng-template>

<h5>Nouvelle version (⚠️ à partir de la V18)</h5>

@if (isShowed) {
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem nobis aperiam autem, quaerat, corporis rem quae
  tempora a exercitationem, quam delectus sit! Dolor molestiae quod dolorem officiis ab quisquam cumque!
</p>
}
@else {
<p>
  Dans le cas du else
</p>
}

<h4>Directive *ngFor</h4>

<h5>Ancienne version</h5>

<table>
  <tr>
    <th>Index</th>
    <th>Email</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  <tr *ngFor="let user of users; index as i; first as isFirst; last as isLast; odd as isOdd; even as isEven"
    [ngClass]="{'fw-bold': isFirst, 'fst-italic': isLast, 'text-primary': isOdd}">
    <td>{{ i }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
  </tr>
</table>

<h5>Nouvelle version</h5>

<table>
  <tr>
    <th>Index</th>
    <th>Email</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  @for (user of users; track user.email) {
  <tr [class]="{'fw-bold': $first, 'fst-italic': $last, 'text-secondary': $odd}">
    <td>{{ $index }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
  </tr>
  }

</table>